/* BACKGROUND IMAGES  */
#projects {
    background-image: url('../images/background_projects.jpg');
    /* Replace with your background image path */
    background-size: cover;
    background-position: center;

}

#about {
    background-image: url('../images/background_about.jpg');
    /* Replace with your background image path */
    background-size: cover;
    background-position: center;
}

#experience {
    background-image: url('../images/background_experience.jpg');
    /* Replace with your background image path */
    background-size: cover;
    background-position: center;
}

#skills {
    background-image: url('../images/background_skills.jpg');
    /* Replace with your background image path */
    background-size: cover;
    background-position: center;
}

#contact {
    background-image: url('../images/background_contact.jpg');
    /* Replace with your background image path */
    background-size: cover;
    background-position: center;
}

/*BACKGROUND */
#about-background {
    padding: 50px 0;
    /* Adjust padding for top and bottom spacing */
}

#projects-background {
    padding: 50px 0;
    /* Adjust padding for top and bottom spacing */
}

#experience-background {
    padding-top: 0px 0;
    padding-bottom: 50px 0;
    padding-left: 50px 0;
    padding-right: 50px 0;
    /* Adjust padding for top and bottom spacing */
}

#skills-background {
    padding: 50px 0;
    /* Adjust padding for top and bottom spacing */
}

#contact-background {
    /* Adjust padding for top and bottom spacing */
    padding-top: 50px 0;
    padding-bottom: 40px 0;
}