/* This adjusts all containers. Maybe to follow like below for better change? */
.container {
    margin: 0 auto;
    /* Center align the container horizontally */

    /* padding: -20px; */
    /* Add some padding for spacing */
    padding: 0 var(--space-md);

    width: 100%;
    /* max-width: 1200px; */
    max-width: 800px;

    box-sizing: border-box;

    text-align: center;
}

/* Only for intro container, special case */
#intro .container {
    margin: 0 auto;
    /* Center align the container horizontally */
    margin-top: 95px;
    padding-top: 80px;
    /* Top */
    padding-bottom: 100px;
    /* Bottom */
}

/* Only for project container, special case */
#projects .container {
    max-width: 2000px;
    /* Adjust the max-width as needed */

    overflow: hidden;
    /* Removes overflow   */

    /*    margin-left: 150px;*/

    /*    margin: 0 auto;   */
    /* Center align the container horizontally */

}