/* This adjusts all containers. Maybe to follow like below for better change? */
.container {
    margin: 0 auto;
    /* Center align the container horizontally */

    padding: -20px;
    /* Add some padding for spacing */

    max-width: 800px;

    box-sizing: border-box;

    text-align: center;
}

#projects .container {
    max-width: 2000px;
    /* Adjust the max-width as needed */

    margin-top: -15px;
    /* To adjust the project container very important */

    overflow: hidden;
    /* Removes overflow   */

    /*    margin-left: 150px;*/

    /*    margin: 0 auto;   */
    /* Center align the container horizontally */

}