/* Media Query for Responsive Layout */
/* 1025, 768, 480 */

/* For Tablets */
@media (max-width: 1025px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 24px;
    }

    nav li {
        display: block;
    }

    nav li a {
        font-size: 1.00rem;
    }

    p {
        font-size: 18px;
    }

    .container {
        /*        max-width: 70%;*/
        padding: 10px;
        /* Reduce padding for small screens */
    }

    .intro-image img {
        margin-top: -25px;
        margin-left: 10px;
    }

    .intro-content img {
        width: 150px;
        height: 180px;
    }

    #projects .container {
        margin-top: 5px;
        /* To adjust the project container very important */
    }

    .project-section {
        margin-top: 12px;
    }

    .about-content img {
        width: 150px;
        height: 180px;
    }

    #link_linkedin,
    #link_wordpress,
    #link_resume,
    #link_email,
    #link_github,
    #link_story1,
    #link_story2,
    #link_story3,
    #link_goodreads,
    #link_tree,
    #link_oldportfolio,
    #link_portfolio_design {
        font-size: 16px;
    }

    .skill {
        margin-left: 20px;
        margin-right: 20px;
    }

    #intro,
    #projects,
    #about,
    #experience,
    #skills,
    #contact {
        padding: 20px;
    }

    #experience {
        padding-bottom: 60px 0;
    }

    #about {
        padding-top: 44px;
    }

    .copyright {
        font-size: 0.9rem;
    }

}

/* For Smartphones */
@media (max-width: 768px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 24px;
    }

    nav li {
        display: block;
    }

    nav li a {
        font-size: 0.95rem;
    }

    p {
        font-size: 16px;
    }

    .container {
        /*        max-width: 60%;*/
        padding: 10px;
        /* Reduce padding for small screens */
    }

    .intro-image img {
        margin-top: -25px;
        margin-left: 10px;
    }

    .intro-content img {
        width: 120px;
        height: 140px;
        flex-direction: column;
        align-items: center;
    }

    #projects .container {
        margin-top: 12px;
        /* To adjust the project container very important */
    }

    .project-section {
        margin-top: 10px;
    }

    .about-content img {
        width: 120px;
        height: 140px;
        flex-direction: column;
        align-items: center;
        /* display: grid; */
        /* grid-template-columns: 1fr auto; */
        /* gap: var(--space-lg); */
        /* old */
        /* width: 120px; */
        /* height: 140px; */
    }

    #link_linkedin,
    #link_wordpress,
    #link_resume,
    #link_email,
    #link_github,
    #link_story1,
    #link_story2,
    #link_story3,
    #link_goodreads,
    #link_tree,
    #link_oldportfolio,
    #link_portfolio_design {
        font-size: 15px;
    }

    .skill {
        margin-left: 10px;
        margin-right: 10px;
    }

    #intro,
    #projects,
    #about,
    #experience,
    #skills,
    #contact {
        padding: 20px;
    }

    #about {
        padding-top: 44px;
    }

    .about-image,
    .intro-image {
        margin-bottom: 0px;
    }

    .copyright {
        font-size: 0.9rem;
    }

}

/* For screens 480px and below */
@media (max-width: 480px) {

    /* Adjust header styles */
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 24px;
    }

    nav li {
        display: block;
    }

    nav li a {
        font-size: 0.72rem;
        font-weight: bold;
    }

    p {
        font-size: 14px;
    }

    .container {
        /*        max-width: 70%; */
        /* Adjust as needed */
        padding: 10px;
        /* Reduce padding for small screens */
    }

    .intro-profile1 {
        text-align-last: center;
    }

    .intro-content {
        display: block;
        text-align: center;
        /* disables the grid */
    }

    .intro-image img {
        margin-top: 0px;
        margin-left: 0px;
    }

    .intro-content img {
        width: 120px;
        height: 140px;
    }

    .intro-text {
        font-size: 14px;
        margin-top: 15px;
    }

    .intro-click {
        font-size: 0.80rem;
    }

    #projects .container {
        margin-top: 5px;
        /* To adjust the project container very important */
    }

    .project-section {
        margin-top: 10px;
    }

    /* Adjust image size in about section */
    .about-content img {
        width: 120px;
        height: 140px;
    }

    .self-profile {
        margin-top: -17px;
    }

    #link_linkedin,
    #link_wordpress,
    #link_resume,
    #link_email,
    #link_github,
    #link_story1,
    #link_story2,
    #link_story3,
    #link_goodreads,
    #link_tree,
    #link_oldportfolio,
    #link_portfolio_design {
        font-size: 14px;
    }

    #contact-text p {
        font-size: 14px;
    }

    .skill {
        margin-left: 10px;
        margin-right: 10px;
    }

    #intro,
    #projects,
    #about,
    #experience,
    #skills,
    #contact {
        padding: 20px;
    }

    #about {
        padding-top: 44px;
    }

    .copyright {
        font-size: 0.9rem;
    }

}