/* Square Box (where content is placed in) */
#intro-square {
    background-color: #fff;
    border: 5px solid #ccc;
    /* Adjust the border color and size as needed */
    display: inline-block;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a slight shadow for better visibility */
}

#projects-square {
    background-color: #fff;
    border: 5px solid #ccc;
    /* Adjust the border color and size as needed */
    display: inline-block;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a slight shadow for better visibility */
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    /* Ensure padding and border are included in the width */
}

#about-square {
    background-color: #fff;
    border: 5px solid #ccc;
    /* Adjust the border color and size as needed */
    display: inline-block;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a slight shadow for better visibility */
}

#experience-square {
    background-color: #fff;
    border: 5px solid #ccc;
    /* background-color: var(--white); */
    padding: var(--space-lg) var(--space-lg) var(--space-sm) var(--space-lg);
    /* top | right | bottom | left */
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    min-height: 250px;
    /* add this */
    margin-top: 20px;
    /* margin-bottom: 20px; */
    /* to remove white line on pc */
    margin-bottom: 60px;
}

@media (max-width: 480px) {
    #experience-square {
        padding: var(--space-md) var(--space-lg) var(--space-sm) var(--space-lg);
    }
}

#skills-square {
    background-color: #fff;
    border: 5px solid #ccc;
    /* Adjust the border color and size as needed */
    display: inline-block;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a slight shadow for better visibility */
}

#contact-square {
    background-color: #fff;
    border: 5px solid #ccc;
    /* Adjust the border color and size as needed */
    display: inline-block;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Optional: Add a slight shadow for better visibility */
}

@media (max-width: 1025px) {

    #intro-square,
    #projects-square,
    #about-square,
    #skills-square,
    #contact-square {
        margin-left: 0;
        margin-right: 0;
    }
}